# The application environment
# Options: development | test | production
NODE_ENV=development


# Backend API base URL
# This is the URL where your backend server is running
# Default: http://localhost:5003/api/v1
NEXT_PUBLIC_API_URL=http://localhost:5003/api/v1
